h1 {
    text-align: center;
    padding-bottom: 20px;
}

body {
    font: 15px times;

}

.flexdiv {
    display: flex;
}

#visualisation-container {
    flex: 1;
    padding-left: 100px;
    /*border-radius: 3px;
    border-color: #000;
    border-style: solid;*/
}

#middle {
    flex: 3;
}


#worldmap {
    flex: 1;
    padding-right: 120px;
}

#barcharth3 {
    padding-left: 170px;
}

#dropdown {
    padding-left: 125px;
}

#dropdown2 {
    text-align: center;
}

#key {
    padding-left: 120px;
    padding-bottom: 15px;
}

p {
    font-size: 12px;
}

#bottomDiv {
    text-align: center;
}

#nextChart {
    border-radius: 3px;
    border-color: #000;
    border-style: solid;
}

.dark-mode {
    background-color: #010101;
    color: lightyellow;
}

.light-mode {
    background-color: white;
    color: black;
}

select {
    text-align: center;
    min-width: 160px;
    background-color: #eef1d9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 5px;
    z-index: 1;
}

p {
    padding-left: 2%; 
}

.bar {
    fill: #a778ad;
    opacity: 0.9;
}
.b {
    fill: rgb(200, 144, 180);
    opacity: 0.9;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}